body {
    /* background: #000 !important; */
}

.App {
    margin-top: 40px;
}

.input-container {
    text-align: center;
}

ul {
    list-style: none;
}

input {
    width: 30%;
    padding: 12px 8px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #DFDFDF;
}

.gap {
    margin-left: 10px;
    padding: 6px 11px !important;
}

.list-container {
    width: 50%;
    margin: 0 auto;
}

.single-todo {
    margin-top: 20px;
}

.align-list-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-innerhtml {
    word-break: break-all;
    width: 50%;
}

.update-input {
    width: 100%;
    padding: 0px;
    outline: none;
    border: none;
}

@media only screen and (max-width:800px) {
    input {
        padding: 8px;
    }
}


@media only screen and (max-width:700px) {
    input {
        width: 50%;
    }

    .list-container {
        width: 95%;
        margin: 0px;
    }

    .main {
        margin-top: 80px;
    }
}

@media only screen and (max-width:550px) {
    input {
        width: 60%;
    }
}

@media only screen and (max-width:400px) {
    .gap {
        padding: 3px 8px !important;
    }
}

@media only screen and (max-width:341px) {
    .list-innerhtml {
        width: 45%;
    }

    .gap {
        margin-left: 5px;
        padding: 1px 6px !important;
    }

}

/* LOGIN, LOGOUT FORM STYLE  */

.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

@media only screen and (min-width: 700px) and (max-width: 1115px) {
    .form-container img {
        width: 60%;
    }
}

@media only screen and (max-width: 699px) {
    .form-container img {
        width: 100%;
    }

    .form-container form {
        width: 70% !important;
    }
    
    .logout-btn-container button{
        font-size: small;
    }

    .form-container form h1 {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 400px) {
    .form-container form {
        width: 90% !important;
    }
}

.form-container form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
}

.form-container form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container form input {
    width: 100%;
    margin-bottom: 10px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-btn-container {
    position: absolute;
    right: 30px;
    top: 15px;
}
